/* CSS declarations go here */

.contents {
  margin-top: 50px;
  padding-top: 10px;

}

/* common */
.navbar .avatar {
  border-radius: 3px;
  margin-right: 3px;
}

/* trello_vis */

#svg {
  padding: 1px;
}
.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node rect {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

g.card rect.box {
  /* fill: white; */
  stroke: #ccc;
  stroke-width: 1px;

}
/* axis */
.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


/* files */

.images_wrap {
  margin-top: 20px;
  padding: 10px;
}

ul.images {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

ul.images li {
  float: left;
  margin: 10px 10px;
  border: solid 1px #ddd;
  padding: 3px;

}


