/* CSS declarations go here */


/* common */
.navbar .avatar {
  border-radius: 3px;
  margin-right: 3px;
}

/* trello_vis */

#svg {
  padding: 1px;
}
.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node rect {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

g.card rect.box {
  /* fill: white; */
  stroke: #ccc;
  stroke-width: 1px;

}
/* axis */
.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}



/* google drive */

#google_drive {
  position: relative;
  overflow: hidden;

}

#google_drive #items_wrap {
  float: left;
  width: 300px;
  margin-right: 20px;
}
#google_drive #embed_area {
  float: left;
  height: 600px;
  width: 800px;
}

