
#ideation {
padding: 0px 120px;
  .posts {
    .post {
      padding-bottom: 15px;
      padding-top: 15px;
      border-top: solid 1px #dfdfdf;


      .user img {
        width: 30px;
        height: 30px;
      }
      .datetime {
        margin-right: 20px;
        text-align: right;
        font-size: 0.9em;
        color: #555;

      }
      .actions {
        margin-right: 20px;
        text-align: right;
        font-size: 0.9em;
      }

    }
    .post:nth-child(1) {
      border-top: none;

    }
  }
}
