@import "common";

/*
 * Modal
 */
.modal-content {
  border-radius: 0;
}

.modal {
  .modal-content {
    h3, h4 {
      color: @new-blue-dark;
    }

  }

}
.modal {
  .artifacts {

    ul {
      .clearfix();
      li {
        float: left;
        img {
          height: 105px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        p {
          width:10em; 
          word-wrap:break-word;
          text-align:center;
          margin-left:auto;
          margin-right:auto;
        }
      }
    }
  }

}

.modal {
  .edit_trigger {
    cursor: pointer;

  }
  .modal_wrapper {
    .clearfix();

  }
  .modal_left {
    width: 80%;
    float: left;
    margin-right: 15px;

  }
  .modal_right {
    width: 18%;
    float: left;

    .actions {
      button {
        margin-bottom: 8px;

      }

    }

  }
  .modal-header {
    color: @blue-color;
    border-bottom: none;
    padding-bottom: 0;
  }

  h2 {
    color: @gray-color;
  }
  .meta {
    color: @blue-color;
    font-size: 12px;

    p {
      line-height: 100%;
    }
  }

  .comment_wrap {
    margin-top: 10px;

    form {

    }
  }
  .comment_wrap {
    form.comment {
      textarea {
        height: 30px;
        overflow-y: hidden;
        -webkit-transition: height ease-in-out 85ms;

      }
      .buttons {
        display: none;

      }

      &.focus {
        textarea {
          height: 90px;

        }
        .buttons {
          display: block;

        }

      }

    }
    .files_to_upload {
      font-size: 12px;

    }
    .buttons {
      a, button {
        display: inline-block;
        margin-left: 10px;

      }
      a {
        font-size: 12px;
        color: @blue-color;
      }

    }
  }
  .comments {
    margin-top: 20px;
    position: relative;
    img {
      max-width: 400px;
    }
    .comment {

      .attachment {
        margin-bottom: 10px;

      }
      padding: 5px;
      &:nth-child(odd) {
      background-color: @row-alt-bg-color;
      }
      font-size: 12px;
      span {
        display: block;
      }
      span.user a {
        color: @blue-color;
      }
      p.body {
        color: @gray-color;
        padding: 15px 5px;
      }
      .comment_actions { 
        text-align: right;
        span {
          display: inline;
        }
      }

    }
  }

}





.modal.show_artifact {
  .modal-content {
    p img { width: 500px; }

  }

}


.modal span.user img {
  width: 18px;
  height: 18px;

}

.body_actions {
  margin-top: -15px;
  padding: 0 5px;
  font-size: 0.85em;
  text-align: right;

}

.select2-choice, .select2-choices {
  border-left: solid 2px #aaa !important;
}
